
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>createuser</title>

    <div class="container">
        <form action="createuser" method="post">
            <label for="username"><b>Username</b></label>
            <input type = "text" placeholder="username" name="username" value="{{ username }}" required/>

            <label for="password"><b>Password</b></label>
            <input type="password" placeholder="password" name="password" required/>

            <button type="submit">create</button>
        </form>
    </div>
</head>
<body>
    
</body>
</html>